/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/*start animations*/
/*end animation*/
@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);}
  40%, 60% {
    transform: translateY(-15px);
  }
}

@keyframes up-and-down {
  0%, 100% {
    top: 0;}
  50% {
    top:-50px;
  }
}

@keyframes go-left {

  50% {
    left:0;
}
  100% {
    left: 0;
    width: 50%;
    border-radius: 0;
    height: 100%;
  }
}

@keyframes go-right {
  50% {
    right:0;
  }
  100% {
    right: 0;
    width: 50%;
    border-radius: 0;
    height: 100%;
  }
}

@keyframes left-bounce {
  0% , 100% {
    left: 0;
  }
  50% {
    transform: translatex(-10px);
  }
}

@keyframes flashing {
  100% {
    width: 200%;
    height: 200%;

  }
}
/*start header*/
header {
  display: flex;
  align-items: center;
  height: 72px;
  background-color: white;
  box-shadow: 0 0 10px #ddd;
}
header .container{
   display: flex;
   justify-content: space-between;
  align-items: center;
  position: relative;

}
.container nav ul li a{
  overflow: hidden;
  z-index: 100;
  position: relative;
  display: block;
  padding: 15px;

  }
.container nav>ul>li>a:before {
  content: "";
  border-top: 1px solid var(--main-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -500%;
  opacity: 1;
  transition: var(--main-transition);
}
.container nav>ul li a:hover::before {
  left: 0;
  background-color: #fafafa;
  z-index: -1;
}
.container nav>ul li a:hover {
  display: block;
  color: var(--main-color);

}
header nav{
  max-width: 100%;
}
header nav ul{
  display: flex;
  margin: 0;
  padding: 0;
}
header nav ul li{
  display: block;
  padding: 15px;

}

header nav ul li a {
  font-weight: bold;
  color: black;
}

header .logo {
  color: var(--main-color);
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1rem;
}
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    text-align: center;
  }
  .logo {
    margin-top: 10px;
  }
  header nav ul li {
    padding: 0;
  }
  header .logo {
    margin-top: 30px;
  }

  header {
    height: 100px;
  }
}
div.mega-menu {
  display: flex;
  gap: 40px;
  position: absolute;
  width: 100%;
  background-color: white;
  padding: 10px;
  top: 63px;
  left: 50%;
  transform: translatex(-50%);
  margin: 0 auto;
  align-items: center;
  opacity: 0;
  z-index: -1;
  justify-content: space-between;
  border-bottom: 2px solid var(--main-color);
}

li.MM:hover  .mega-menu{
  opacity: 1;
  z-index: 100;
}

.mega-menu img {
  max-width: 100%;
  max-height: 250px;
}

.mega-menu .links {
  display: grid;

}
.mega-menu .links li {
  border-bottom: 1px solid #e9e6e6;
  transition: var(--main-transition);
  position: relative;
}

.mega-menu .links li::before{
  content: "";
  height: 100%;
  width: 0%;
  background-color: #fafafa;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  opacity: 1;
  transition: var(--main-transition);
}
.mega-menu .links li:hover::before {
  width: 100%;
}
.mega-menu .links i {
  color: var(--main-color);
}
header .mega-menu ul {
  align-items: center;
}

header .mega-menu ul li {
  display: block;
  padding: 10px;
}
@media (max-width: 768px) {
  .mega-menu .image {
    display: none;
  }

  div.mega-menu {
    flex-direction: column;
    row-gap: 0;
    column-gap: 0;
    top:110px;

  }

  .mega-menu ul {
    width: 100%;
  }
}
/* Medium */
@media (max-width: 992px) {
  .mega-menu .image {
    display: none;
  }

  div.mega-menu {
    justify-content: space-around;
  }

  div.mega-menu .links {
    width: 100%;
  }
}

/*end header*/
/*start landing*/
section.landing {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100vh;

}
section.landing .container {
  display: flex;
}

section.landing .container:before {
  content: "";
  background-color: #ececec;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform: skewY(-6deg);
  top:-100px;
  left: 0;
}

section.landing .container .main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

 }

section.landing .container .main-text h2 {
  margin: 0;
  line-spacing: -5px;
  font-weight: bold;
  font-size: 30px;
}

section.landing .container .dan-img {
  display: flex;
  justify-content: center;
}

section.landing .container .dan-img img{
  flex: 1;
  max-width: 90%;
  animation: up-and-down 5s linear infinite;
  position: relative;
}

section.landing i {
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  left: 50%;
  color: var(--main-color);
  animation: bouncing 1s linear infinite;
}

section.landing i:hover {
  color: var(--main-color-alt);
}

/*start components*/
.special-heading {
  border: 2px solid black;
  width: fit-content;
  padding: 5px 10px;
  margin:50px auto;
  position: relative;
  z-index: 1;
}

.special-heading:before, .special-heading:after{
  content: "";
  position: absolute;
  width:10px;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
  transition: var(--main-transition);
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.special-heading:before {
  left: -30px;

}
.special-heading:hover::before{
  animation: go-left .5s linear forwards;
}
.special-heading:after {
  right: -30px;
}

.special-heading:hover::after {

  animation: go-right .5s linear forwards;
}

.special-heading:hover {
  color: white;
  border: 2px solid white;
  transition-delay: .5s;
}

/*end components*/

/*start Articles*/
section.articles {
  padding-bottom: var(--main-padding-bottom);
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 40px;
  background-color: white;
}

.articles .box {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: var(--main-transition);
}

.articles .box img {
  width: 100%;
  max-width: 100%;
}
.articles .box .text-area{
  padding: 10px;
  border-bottom: 1px solid #e6e6e7;
}

.articles .box .read-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.articles .box .read-more i{
  color: var(--main-color);
}
.articles .box:hover .read-more i{
    animation: left-bounce 0.5s infinite;
}

.articles .box:hover {
  transform: rotate(3deg);
}


/*End Articles*/
/*start galeery*/
section.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: #e9e6e6;
}

section.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
}
.gallery .box{
  padding: 10px;
  background-color: white;
  overflow: hidden;
}
section.gallery .images img {
  max-width: 100%;
  transition: var(--main-transition);
}
section.gallery .images {
  position: relative;
  overflow: hidden;
}

section.gallery .images:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgba(114, 103, 103, 0.2);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  opacity: 1;
  transition: var(--main-transition);

}
section.gallery .images:hover::after{
  animation: flashing var(--main-transition) linear;
}
section.gallery .images:hover img{
  transform: rotate(5deg) scale(1.1);
}
/*end gallery*/
/*start features*/
section.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}

section.features .container {
  display: grid;
  grid-template-columns: repeat( auto-fill , minmax(300px,1fr));
  justify-content: center;
  gap: 40px;
}

section.features .container .box {
  border: 2px solid #ccc;
  border-radius: 6px;
}

section.features .container .box img {
  max-width: 100%;
  width: 100%;

}
section.features .container .box .img-holder{
  position: relative;
  overflow: hidden;
}

section.features .container .box .img-holder:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 255, 255, 0.4);
}


section.features .container .box .img-holder:before{
  content: "";
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 0px 0px 100px 389px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  transition: var(--main-transition);
}
section.features .container .box:hover .img-holder:before{
  border-width: 0px 355px 100px 389px;
}
section.features .container .box .text-area {

}
section.features .container .box .text-area h2{
  padding: 0 15px;
  margin: 10px auto;
  width: fit-content;
  text-align: center;
  position: relative;
  color: var(--main-color);
}

section.features .container .box .text-area h2:after {
  content: "";
  border-bottom: 3px solid var(--main-color-alt);
  position: absolute;
  bottom: -10px;
  left: 0;
  width: calc(100% - 40px);
  margin-left:20px ;
}
section.features .container .box .text-area p {
  padding: 15px;
  line-height: 1.5;
  color: #777;
}

section.features .container .box a {
  display: block;
  padding: 10px 30px;
  margin: 20px auto;
  border: 1px solid var(--main-color-alt);
  width: fit-content;
  background:linear-gradient(to right, var(--main-color) 50% , white 50%);
  background-size: 200% 100%;
  transition: var(--main-transition);
  background-position: right bottom;
  color: var(--main-color);
  font-weight: bold;
}
section.features .container .box:hover a {
  background-position: left bottom;
  background-size: 200%;
  color: white;
  font-weight: bold;
}
/*end features*/
/*start testimonials*/

.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: #e9e6e6;
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
  gap: 20px;
}
.testimonials .container .box {
  position: relative;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
}
.testimonials .container .box img{
  position: absolute;
  width: 100px;
  height: 100px;
  right: -5px;
  top: -40px;
  border-radius: 50%;
  border: 10px solid #e9e6e6;
}

/*start teamemembers*/
section.team-members {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}

section.team-members .container {
  display: grid;
  grid-template-columns: repeat( auto-fill , minmax(300px,1fr));
  justify-content: center;
}
section.team-members .container .box {
  margin: 40px;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
section.team-members .container .box:before,
section.team-members .container .box:after{
  content: "";
  position: absolute;
  height: 110%;
  background-color: #f3f3f3;
  top: -40px;
  right: -44px;
  border-radius: 6px;
  transition: var(--main-transition);
}
section.team-members .container .box:before {
  width: calc(100% - 40px);
  z-index: -2;
}
section.team-members .container .box:after {
  width: 0;
  z-index: -1;
}
section.team-members .container .box:hover::after{
  width: calc(100% - 40px);
  background-color: #e4e4e4;
}
section.team-members .container .box .main-data {
  display: flex;

}
section.team-members .container .box .main-data img {
  max-width: 100%;
  border-radius: 6px;
  transition: var(--main-transition);
}
section.team-members .container .box:hover img{
  filter: grayscale(100%);
}
section.team-members .container .box .main-data .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

section.team-members .container .box .main-data .social a{
  padding: 5px;
  color: #cccccc;
}
section.team-members .container .box .info {
  margin-left: 100px;

}
section.team-members .container .box .info h2 {
  color: var(--main-color);
  transition: var(--main-transition);
}
section.team-members .container .box:hover h2 {
  color: #2a2727;
}
/*end team members*/
/*start services*/
section.services  {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}

section.services .container {
display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 50px;
}

section.services .container .box {
  text-align: center;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
}

section.services .container .box .image-area {
  padding-top: 20px;
  position: relative;
  transition: var(--main-transition);
}
section.services .container .box .image-area:before {
  content: "";
  width: 0;
  height: 0;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  z-index: 1;
  position: absolute;
  transition: var(--main-transition);
}
section.services .container .box:hover .image-area:before{
  width: 100%;
  height: 3px;
  left: 0;
}

section.services .container .box:hover {
  transform: translateY(-10px);
}

section.services .container .box .image-area i {
color: #d5d5d5;
}
section.services .container .box .image-area h3 {
  color: var(--main-color);
  font-size: 25px;
}
section.services .container .box .details {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
}


section.services .container .box .details p {
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
  background-color: var(--main-color);
  color: white;
  position: relative;
  margin: 0;
  z-index: 1;
}
section.services .container .box .details p:before {
  content: "";
  background-color: var(--main-color);
  width: 50px;
  height: 100%;
  right: -10px;
  bottom: 0;
  position: absolute;
  transform: skewX(-15deg);
  z-index: -1;
}

section.services .container .box .details p:after {
  content: "";
  background-color: #d5d5d5;
  width: 50px;
  height: 100%;
  right: -50px;
  bottom: 0;
  position: absolute;
  transform: skewX(-15deg);
  z-index: -2;
}

section.services .container .box .details a {
  padding: 0px 10px;
  margin-top:auto;
  margin-bottom: auto
}


/*end services*/

/*start skills*/
section.skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}

section.skills .container {
  display: flex;
}
section.skills .container .main-skills {
  width: 100%;
}
section.skills .container .sub-skill {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
section.skills .container .sub-skill h2 {
  position: relative;
  z-index: 1;
}
section.skills .container .sub-skill h2:after {
  content: "";
  height: 25px;
  width: 100%;
  left: 0;
  top: 48px;
  position: absolute;
  background-color: #c5bac3;
  z-index: -1;
}

section.skills .container .sub-skill span {
  height: 25px;
  background-color: var(--main-color);
  z-index: 2;
  position: relative;
}

section.skills .container .sub-skill span:before {
  content: attr(data-width);
  position: absolute;
  border: 1px solid var(--main-color);
  top: -38px;
  right: 0;
  z-index: 2;
  width: fit-content;
  border-radius: 6px;
  padding: 5px;
}

/* Medium */
@media (max-width: 992px) {
  section.skills .container img {
    display: none;
  }
}
/*end skills*/
/*start how-it*/
section.how-it {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
background-color: var(--section-background);
}

section.how-it .container {
  display: flex;
  gap: 30px;
}
@media (max-width: 992px) {
  section.how-it .container {
    flex-direction: column;
  }
  section.how-it .container>img {
    max-width: 100%;
    align-self: center;

  }
}
section.how-it .container .cards {

}

section.how-it .container .cards .card {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  background-color: #f6f5f5;
  border-radius: 6px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  transition: var(--main-transition);
  position: relative;
}

section.how-it .container .cards .card:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  background-color: rgba(119, 119, 119, 0.2);
  transform: translateY(-50%);
  transition: var(--main-transition);
}

section.how-it .container .cards .card:hover::after {
  width: 100%;
  height: 100%;
  left: 0;
  transform: translateY(0);
}
section.how-it .container .cards .card img {
  height: 70px;
}


/*end how-it*/

/*START EVENTS*/

section.latest-events {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}

section.latest-events .dots {
  background-image: url("../imgs/dots.png");
  width: 300px;
  height: 300px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

}

@media (max-width: 1200px) {
  section.latest-events .dots {
    display: none;

  }}
section.latest-events .dots-up {
  top: 20px;
  right: 20px;
}
section.latest-events .dots-down {
  bottom: 20px;
  left: 20px;
}

section.latest-events .container {
  display: flex;
  gap: 50px;
}
section.latest-events .container > img {
  width: 100%;
}

@media (max-width: 1200px) {
  section.latest-events .container {
    flex-direction: column;

  }}

section.latest-events .container .counter-area {
  display: flex;
  gap: 20px;
  justify-content: center;
}
section.latest-events .container .counter-area .counter {
  border: 2px solid var(--main-color);
  border-radius: 6px;
  text-align: center;
  width: 80px;
  background-color: white;
}

section.latest-events .container .counter-area .counter h3 {
  text-align: center;
  font-size: 50px;
}

section.latest-events .container .counter-area .counter p {
  display: block;
  padding: 15px 10px;
  margin: auto 0;
  font-size: 12px;
  font-weight: bold;
  border-top: 1px solid var(--main-color);
  text-align: center;
}

section.latest-events .container .text-area {
  text-align: center;
  line-height: 1.8;
}
section.latest-events .container h2 {
  font-weight: bold;
  font-size: 35px;
}

section.latest-events .container P {
  color: #777777;

}

section.latest-events form {
  background-color: #eeecec;
  width: fit-content;
  padding: 40px;
  border-radius: 80px;
  margin: 0 auto;
  max-width: 98%;
}

section.latest-events form #email{
  width: 300px;
  height: 50px;
  border-radius: 50px;
  margin-right: 20px;
  border-color: transparent;
  padding-left: 20px;
  max-width: calc(90% - 100px);
}

section.latest-events form #button {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--main-color);
  border-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
/*END EVENTS*/
/*start pricing*/
section.pricing {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}

section.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
section.pricing .container .box {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

section.pricing .container .box:before {
  content: "";
  position:absolute ;
  width: 0;
  height: 50%;
  background-color: rgba(119, 119, 119, 0.2);
  top: 0;
  left: 0;
  transition: var(--main-transition);
}
section.pricing .container .box:after {
  content: "";
  position:absolute ;
  width: 0;
  height: 50%;
  background-color: rgba(119, 119, 119, 0.2);
  bottom: 0;
  right: 0;
  transition: var(--main-transition);
}

section.pricing .container .box:hover::before,section.pricing .container .box:hover::after{
  width: 100%;
}
section.pricing .container .box .title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}
section.pricing .container .box img {
  padding-top: 20px;
  width: 200px;
  align-self: center;
}
section.pricing .container .box .price h2{
  position: relative;
  text-align: center;
  font-size: 45px;
  margin-bottom: 0;
}
section.pricing .container .box .price h2:before {
  content: "$";
  position: absolute;
  left: 35%;
}
section.pricing .container .box .price p {
  text-align: center;
  color: #777777;
  margin-top: 11px;
  margin-left: -20px;
}

section.pricing .container .box ul {
}
section.pricing .container .box ul li {
  padding: 30px;
  border-top: 1px solid #e5e2e2;
  width: 100%;
  font-size: 20px;
}

section.pricing .container .box ul li:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

section.pricing .container .box a {
  padding: 20px;
  border: 1px solid var(--main-color);
  width: fit-content;
  align-self: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: var(--main-color);
}
section.pricing .container .popular {
  transform: translateY(-20px);
}
section.pricing .container .popular .label{
  position: absolute;
  writing-mode: vertical-rl;
  right: 7px;
  top: 0;
  background-color: #1787e0;
  padding: 35px 15px;
  font-weight: bold;
  z-index: -2;
}
section.pricing .container .popular .label:before {
  content: "";
  border-width: 28px;
  border-color: transparent transparent white transparent;
  border-style: solid;
  top: 108px;
  right: -4px;
  position: absolute;
  z-index: -1;
}
/*end pricing*/

/*start top-videos */
section.top-videos {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}

section.top-videos .container{
  display: flex;
  gap: 15px;
}

section.top-videos .container .left {
  background-color: var(--section-background);
  border-radius: 10px;
}
section.top-videos .container .left .title {
  padding: 15px 10px 10px;
  font-weight: bold;
  position: relative;
}
section.top-videos .container .left .title:after {
  content: "\f074";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 20px;
}
section.top-videos .container .left .videos {
}

section.top-videos .container .left .videos .box {
  background-color: white;
  border-radius:6px;
  padding: 10px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
section.top-videos .container .left .videos .box:before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: rgba(119, 119, 119, 0.1);
  top: 0;
  left: 0;
  z-index: 2;
  transition: var(--main-transition);
}
section.top-videos .container .left .videos .box:hover::before {
  width: 100%;
}

section.top-videos .container .left .videos .box:hover h3 {
  color: var(--main-color);
}
section.top-videos .container .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--section-background);
  border-radius: 10px;
}

section.top-videos .container .right img {
  margin: 40px 10px 10px;
  max-width: calc(100% - 20px);
  border-radius: 10px;
}

section.top-videos .container .right div {
  padding: 20px;
  text-align: center;
  background-color: white;
  width: 90%;
  align-self: center;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
}

/* 123 end top videos*/
