/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/*start animations*/
/*end animation*/
@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);}
  40%, 60% {
    transform: translateY(-15px);
  }
}

@keyframes up-and-down {
  0%, 100% {
    top: 0;}
  50% {
    top:-50px;
  }
}

/*start header*/
header {
  height: 72px;
  background-color: white;
  box-shadow: 0 0 10px #ddd;
s
}
header .container{
   display: flex;
   justify-content: space-between;
  align-items: center;
}
header nav ul{
  display: flex;
  margin: 0;
  padding: 0;
}
header nav ul li{
  display: block;
  padding: 15px;
}

header nav ul li a {
  font-weight: bold;
  color: black;
}

header .logo {
  color: var(--main-color);
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1rem;
}

header .mega-menu {
  display: flex;
  gap: 40px;
  position: absolute;
  width: 90%;
  background-color: white;
  z-index: 10;
  padding: 10px;
  top: 74px;
  left: 50%;
  transform: translatex(-50%);
  margin: 0 auto;
  align-items: center;
  opacity: 0;
  z-index: -1;
}
header nav ul li a:hover .mega-menu {
  opacity: 1;
  z-index: 100;
}
header .mega-menu img {
  max-width: 100%;
}
header .mega-menu ul {
  align-items: center;
}

header .mega-menu ul li{
  display: block;
  padding: 10px;

}
/*end header*/
/*start landing*/
section.landing {
  margin-top: 50px;
  margin-bottom: 50px;

}
section.landing .container {
  display: flex;
}

section.landing .container:before {
  content: "";
  background-color: #ececec;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform: skewY(-6deg);
  top:-100px;
  left: 0;
}

section.landing .container .main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

 }

section.landing .container .main-text h2 {
  margin: 0;
  line-spacing: -5px;
  font-weight: bold;
  font-size: 30px;
}

section.landing .container .dan-img {
  display: flex;
  justify-content: center;
}

section.landing .container .dan-img img{
  flex: 1;
  max-width: 90%;
  animation: up-and-down 5s linear infinite;
  position: relative;
}

section.landing i {
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  left: 50%;
  color: var(--main-color);
  animation: bouncing 1s linear infinite;
}

section.landing i:hover {
  color: var(--main-color-alt);
}

